.containerPersonalized {
    width:98%;
    padding-left: 5px;
    padding-right: 5px;
}
.lineStyle{
    height:10vh;
    background-color: #e3d9c836;
    vertical-align: middle;
    padding-bottom: 10px !important;
}
.orangeType{
    width:55%;
    background:#edddbf;
    padding:5px;
    margin-right:5px
}